.header {
    background-color: #07097c;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 60px;
    padding-bottom: 5px;
}

.header_section {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 100%;
}

.header_logo {
    margin-left: 20px;
    width: 0%;
}

.header_title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 auto;
    width: 80%;
}

.header_navbar {
    height: 30px;
    background-color: #080950;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

.title_main {
    font-size: 18px;
    font-weight: bold;
}

.title_name {
    text-transform: uppercase;
}

.subtitle_main {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.navbar_section {
    align-items: center;
    background-color: #080950;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    height: 10px;
}

.main {
    align-items: center;
    background-image: url("assets/images/IncusiBet.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #b6b6d3;
    display: flex;
    justify-content: center;
    height: 490px;
    width: 100%;
}

.main_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.video {
    height: 420px;
    width: 520px
}

.video_source {
    border: solid;
    border: blue;
    border: 5px;
}

.return {
    align-items: center;
    background-color: blue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 0 auto;
    width: 100%;
}

.return_link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.footer {
    align-items: center;
    background-color: #07097c;
    color: #fff;
    display: flex;
    font-size: 9px;
    justify-content: center;
    height: 30px;
}

@media only screen and (max-width: 860px) {
    .header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 110px;
        justify-content: center;
    }

    .header_section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .header_logo {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .header_title {
        margin: 0 auto;
        width: 100%;
    }

    .title_main {
        font-size: 12px;
    }

    .navbar_section {
        height: 15px;
        margin-top: 10px;
        padding-top: 5px;
    }

    .main {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 358px;
        width: 100%;
    }

    .video {
        height: 320px;
        width: 420px
    }

}

@media only screen and (max-width: 436px) {

    .main {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 358px;
        width: 100%;
    }
    
    .video {
        height: 230px;
        width: 320px
    }


}