.header {
    background-color: #07097c;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 60px;
    padding-bottom: 5px;
}

.header_section {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 100%;
}

.header_logo {
    margin-left: 20px;
    width: 0%;
}

.header_title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 auto;
    width: 80%;
}

.header_navbar {
    height: 30px;
    background-color: #080950;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

.title_main {
    font-size: 18px;
    font-weight: bold;
}

.title_name {
    text-transform: uppercase;
}

.title_text {
    text-transform: uppercase;
}

.subtitle_main {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.navbar_section {
    align-items: center;
    background-color: #080950;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    height: 10px;
}


.main {
    align-items: center;
    background-color: #b6b6d3;
    display: flex;
    justify-content: center;
    height: 490px;
    width: 100%;
}

.main_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: center;
    margin: 0 auto;
    max-width: 860px;
    padding: 10px;
    width: 100%;
}

.card_main {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.card_buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button_instruction {
    align-items: center;
    background-color: blue;
    border: 1px solid;
    border-color: #080950;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.button_game {
    align-items: center;
    background-color: blue;
    border: 1px solid;
    border-color: #080950;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.button_submit {
    background-color: blue;
    border: 1px solid;
    border-color: #080950;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.button_submit:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.button_link {
    border: 1px solid;
    border-color: #080950;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
}


.button_link:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.icon_speak, .icon_start {
    background-color: #fff;
    border: 1px solid;
    border-color: #080950;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.card_text {
    align-items: center;
    background-color: #b6b6d3;
    border-radius: 2%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color: #000000;
    height: 420px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.text_area {
    background-color: #000000;
    border: none;
    border-radius: 2%;
    color: yellow;
    font-size: 15px;
    height: 380px;
    resize: none;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.footer {
    align-items: center;
    background-color: #07097c;
    color: #fff;
    display: flex;
    font-size: 9px;
    justify-content: center;
    height: 30px;
}

@media only screen and (max-width: 860px) {
    .header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 110px;
        justify-content: center;
    }

    .header_section {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .header_logo {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .header_title {
        margin: 0 auto;
        width: 100%;
    }

    .title_text {
        font-size: 8px;
        font-weight: bold;
    }

    .title_main {
        font-size: 14px;
    }

    .navbar_section {
        height: 15px;
        margin-top: 10px;
        padding-top: 5px;
    }

    .header_navbar {
        font-size: 10px;
    }

    .main {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .video {
        height: 320px;
        width: 420px
    }

}

@media only screen and (max-width: 436px) {

    .main {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button_submit {
        font-size: 10px;
    }

    .button_link {
        font-size: 10px;
    }

    .text_area {
        font-size: 10px;
    }

}